<form class="w-50">
     <div class="text-center mb-3">
          <p>Update some basic details of user</p>
     </div>

     <!-- Email input -->
     <mdb-form-control class="mb-4">
          <input mdbInput type="text" id="name" class="form-control" />
          <label mdbLabel class="form-label" for="name">Full name <span class="text-danger">*</span></label>
     </mdb-form-control>

     <!-- Password input -->
     <mdb-form-control class="mb-4">
          <input mdbInput type="tel" id="phone" class="form-control" />
          <label mdbLabel class="form-label" for="phone">Phone</label>
     </mdb-form-control>


     <!-- Submit button -->
     <button mdbRipple type="submit" class="btn btn-primary btn-block mb-4">
          Update
     </button>
</form>