.comment-section {
     position: fixed;
     bottom: 0;
     max-height: 250px;
     width: 83%;
     margin-bottom: 0;
}
.admin-detail {
     color: #006b7f !important;
     font-weight: 600;
}
.admin-detail,
.user-detail {
     span {
          margin-left: 10px;
     }
}
.user-detail {
     font-size: 16px;
     font-weight: 500;
}
.comment-container {
     overflow-y: scroll;
     overflow-x: hidden;
     position: relative;
     max-height: 340px;
     .comment {
          .user-detail {
               padding: 3px 0px;
          }
     }
}
.header-middle {
     font-size: 17px !important;
}
::ng-deep {
     .ck-editor__editable {
          min-height: 100px !important;
          max-height: 300px !important;
     }
}
