<form class="w-50">
     <div class="text-center mb-3">
          <p>Update your password</p>
     </div>

     <!-- New password input -->
     <mdb-form-control class="mb-4">
          <input mdbInput type="password" id="newPassword" class="form-control" />
          <label mdbLabel class="form-label" for="newPassword">New password <span class="text-danger">*</span></label>
     </mdb-form-control>

     <!-- Confirm password input -->
     <mdb-form-control class="mb-4">
          <input mdbInput type="password" id="confirmPassword" class="form-control" />
          <label mdbLabel class="form-label" for="confirmPassword">Confirm password <span
                    class="text-danger">*</span></label>
     </mdb-form-control>

     <!-- Submit button -->
     <button mdbRipple type="submit" class="btn btn-primary btn-block mb-3">
          Sign in
     </button>
</form>