<section>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-6">User Details</div>
      </div>
    </div>
    <div class="card-body">
      <div class="text-center" *ngIf="usersStatus.loading">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <mdb-form-control>
        <input
          mdbInput
          type="text"
          id="form1"
          class="form-control"
          (keyup)="applyFilter($event)"
        />
        <label mdbLabel class="form-label" for="form1">Search here...</label>
      </mdb-form-control>
      <mat-table [dataSource]="dataSource" matSort>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="pt-2 pb-2">
              <a routerLink="" class="user"
                ><p class="fw-bold mb-1 text-truncate">{{ row.name }}</p></a
              >
            </div>
          </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Email
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="pt-2 pb-2">
              <p class="text-muted mb-0 text-truncate">{{ row.email }}</p>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <h6>
              <span
                class="badge rounded-pill d-inline"
                [ngClass]="row.verified ? 'badge-success' : 'badge-danger'"
              >
                <i *ngIf="row.verified" class="fas fa-check-circle"></i>
                <i *ngIf="!row.verified" class="fas fa-ban"></i>
                {{ row.verified ? "Verified" : "Un-verified" }}</span
              >
            </h6>
          </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell
            *matHeaderCellDef
            class="d-flex flex-row justify-content-end"
          >
            Action
          </mat-header-cell>
          <mat-cell
            *matCellDef="let row"
            class="d-flex flex-row justify-content-end"
          >
            <button
              title="Make user un-verify"
              type="button"
              class="btn btn-link btn-sm btn-rounded"
              [ngClass]="row.verified ? 'text-danger' : 'text-success'"
              (click)="openDialog(row)"
            >
              {{ row.verified ? "Un-Verify" : "Verify" }}
            </button>
            <div class="vr" style="height: 30px; margin: 18px 5px"></div>
            <button
              title="Make user un-verify"
              type="button"
              class="btn btn-link btn-sm btn-rounded text-danger"
              (click)="deleteDialog(row)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</section>
