<section>
     <div class="card">
          <div class="card-body">
               <h5 class="card-title">User Details</h5>
               <mdb-tabs [pills]="true" [fill]="true">
                    <mdb-tab title="Update User">
                         <div class="d-flex align-items-center justify-content-cente">
                              <app-update-user class="w-100"></app-update-user>
                         </div>
                    </mdb-tab>
                    <mdb-tab title="Change Password">
                         <app-change-password class="w-100"></app-change-password>
                    </mdb-tab>
               </mdb-tabs>
          </div>
     </div>
</section>