<h1 mat-dialog-title class="bold">Delete user account</h1>
<div mat-dialog-content>
  <p>
    If you delete this user, all associated tasks, comments, and replies will
    also be deleted. Therefore, please delete the user carefully.
  </p>
</div>
<div mat-dialog-actions>
  <button
    class="btn verify btn-danger"
    [disabled]="deleteStatus.loading"
    (click)="deleteUser()"
  >
    <div
      class="spinner-border text-dark spinner-border-sm"
      role="status"
      *ngIf="deleteStatus.loading"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
    Delete
  </button>
  <button
    class="btn btn-light"
    mat-dialog-close
    [disabled]="deleteStatus.loading"
  >
    Close
  </button>
</div>
